/*CREATE CHALLENGE PAGE STYLES*/
#createpage-header{
	align-items: flex-start;
	height: 32px;
	width: 100%;
	position: relative;
	--login-transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

#createpage-header .logo{
	display: inline;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 0;
	color: var(--contrast);
	user-select: none;
}

#createpage-header .header-text{
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 0;
	color: var(--subtle);
	user-select: none;
	opacity: 1;
}

#createpage-header .header-text:hover{
	color: var(--primary);
}

/*PAGE BODY STYLINGS*/
#createpage-body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: calc(100% - 32px);
	margin-top: 50px;
}

/*CREATE FORM STYLINGS*/
#createpage-body .createform-title{
	width: 400px;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--primary);
	color: var(--primary);
	font-size: 25px;
	padding: 10px;
}

#createpage-body .createform-title::placeholder{
	text-align: center;
	color: var(--subtle);
	opacity: 0.3;
}

#createpage-body .createform-title:focus::placeholder{
	opacity: 0;
}

#createpage-body .createform-prompt{
	background: transparent;
	width: 600px;
	height: 100px;
	margin: 10px;
	border: none;
	outline: none;
	resize: none;
	color: var(--subtle);
	padding: 10px;
	font-family: 'Trebuchet MS', sans-serif;
	border-left: 1px solid var(--subtle);
}

#createpage-body .createform-prompt:hover{
	background: rgba(255, 255, 255, 0.05);
}

#createpage-body .createform-prompt:focus, #createpage-body .createform-prompt:active{
	background: rgba(0, 0, 0, 0.05);
}

#createpage-body .createform-prompt::placeholder{
	color: var(--subtle);
	opacity: 0.3;
}

#createpage-body .createform-prompt:focus::placeholder{
	opacity: 0;
}

#createpage-body .create-challenge-submit{
	border: 1px solid var(--primary);
	border-radius: 10px;
	height: 30px;
	width: 75px;
	background: transparent;
	color: var(--primary);
}

#createpage-body .create-challenge-submit:hover{
	background: rgba(255, 255, 255, 0.05);
}

#createpage-body .create-challenge-submit:active{
	background: rgba(0, 0, 0, 0.05);
}