body.solarized-dark{
	--background: rgb(5, 42, 50);
	--primary: rgb(48, 128, 199);
	--subtle: rgb(80, 99, 106);
	--contrast: rgb(179, 205, 78);
	--error: rgb(205, 103, 63);
}

body{
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Trebuchet MS', sans-serif;
	background: var(--background);
	overflow: auto;
}

body::-webkit-scrollbar{
	display: none;
}

body::-webkit-scrollbar-track {
	display: none;
}