/*HEADER STYLINGS*/

#takechallenge-header{
	align-items: flex-start;
	height: 32px;
	width: 100%;
	position: relative;
	--login-transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

#takechallenge-header .logo{
	display: inline;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 0;
	color: var(--contrast);
	user-select: none;
}

#takechallenge-header .header-text{
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 0;
	color: var(--subtle);
	user-select: none;
	opacity: 1;
}

#takechallenge-body{
	width: 100%;
	height: calc(100% - 32px);
	margin-top: 50px;
}

/*TAKE CHALLENGE TEXT STYLINGS*/
.takechallenge-text{
	position: absolute;
	top: calc(60% - 200px);
	left: calc(50% - 400px);
	height: 400px;
	width: 800px;
	font-size: 30px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
}

.takechallenge-text.prompt{
	color: var(--subtle);
}

.takechallenge-text.input{
	color: var(--primary);
}


.incomplete-word{
	color:white;
	display:inline-block;
	padding-inline-end: 1em;
}

.complete-word{
	display:inline-block;
	padding-inline-end: 1em;
}

.incomplete-letter{
	color:var(--subtle);
	display:inline-block;
	font-size: 30px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
}

.correct-letter{
	color:var(--primary);
	display:inline-block;
	font-size: 30px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
}

.incorrect-letter{
	color:var(--error);
	display:inline-block;
	font-size: 30px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
}

.continue-hidden{
	position: absolute;
	left: 20000px;
	padding-top: 5em;
	display: flex;
	justify-content: center;
	visibility: hidden;
	font-size: 30px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
	color: var(--contrast)
}

.continue-visible{
	padding-top: 5em;
	display: flex;
	justify-content: center;
	visibility: visible;
	font-size: 30px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
	color: var(--contrast)
}

.active-prompt{
	position: absolute;
	left: 50px;
	visibility: visible;
}

.inactive-prompt{
	position: absolute;
	left: 20000px;
	visibility: hidden;
}