{% extends "base.html" %}

{% block content %}

<div id="aggregate-header">
    <h3 class="logo">[poly_type]</h3>
    <a href="{{url_for('host.logout')}}">
        <p class="header-text">log_out</p>
    </a>
</div>

<div id="aggregate-body">
    <!--This loop adds all the active and inactive challenges. Later we WILL replace some of the with JS that switches the classes at runtime.-->
    <div class="aggregate-stats">
        <div class="statblock">
            <span class="statvalue">{{avgWpm}}</span>
            <span class="statlabel">[avg wpm]</span>
        </div>
        <div class="statblock">
            <span class="statvalue">{{avgMistakes|round|int}}</span>
            <span class="statlabel">[avg mistakes]</span>
        </div>
    </div>
    <p class="leader-header">[leaderboard]</p>
    <div class="result">
        <span class="row-header">nickname</span>
        <span class="row-header">wpm</span>
        <span class="row-header">correct/mistakes/extra</span>
    </div>
    {%for result in results%}
    <div class="result">
        <span class="nickname">{{result.challenger}}</span>
        <span class="score">{{result.wpm|round|int}}</span>
        <span class="accuracy">{{result.correct}}/{{result.incorrect}}/{{result.extra}}</span>
    </div>
    {%endfor%}
    <a href="{{url_for('host.view_challenges')}}" class="returnhome">Return Home</a>
</div>
    
{% endblock %}