<html>
    <head>  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/createchallenge.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/takechallenge.css') }}">
    </head>

    <body class="solarized-dark">
        {% block content %} {% endblock %}
    </body>
</html>