<div class="challengeEntry {{isactive}}">
	<span class="challengetitle">{{challenge.title}}</span>
	<span class="challengeJoinCode">[{{challenge.joincode}}]</span>
	<form action="{{url_for('host.close_challenge', challengeid=challenge.id)}}" method="post" class="challenge-iconbuttonform stopbutton">
		<button id="close" type="submit" class="challenge-iconbutton stopbutton">
			[S]
		</button>
	</form>
	<form action="{{url_for('host.open_challenge', challengeid=challenge.id)}}" method="post" class="challenge-iconbuttonform">
		<button id="open" type="submit" class="challenge-iconbutton">
		[>]
		</button>
	</form>
	<form action="{{url_for('host.delete_challenge', challengeid=challenge.id)}}" method="post" class="challenge-iconbuttonform">
		<button id="delete" class="challenge-iconbutton deletebutton margin">
			[D]
		</button>
	</form>
	<button id="edit" class="challenge-iconbutton margin">
		[E]
	</button>
	<a id="results" href="{{url_for('host.aggregate_results', joinCode=challenge.joincode)}}" class="challenge-iconbutton margin">
		[R]
	</a>
</div>