{% extends "base.html" %}

{% block content %}

<div id="createpage-header">
    <h3 class="logo">[poly_type]</h3>
    <p class="header-text">log_out</p>
</div>

{% if challengeForm %}

    <form action="" method="post">
        <div id="createpage-body">
        {{ challengeForm.hidden_tag() }}
        {{ challengeForm.title(class="createform-title", autocomplete="off", placeholder="Challenge Title") }}
        {% for nested in challengeForm.prompts %}
            <div style="visibility: visible;">
                {{ nested.hidden_tag() }}
                {{ nested.prompt(class="createform-prompt", placeholder="Enter your prompt text here...", spellcheck="false") }}
            </div>
        {% endfor %}
        {{ challengeForm.submit(class="create-challenge-submit") }}
        </div>
    </form>
{% endif %}
    
{% endblock %}