{% extends "base.html" %}

{% block content %}

<h1>[Poly_Type]</h1>

    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label }}
                {{ form.title }}
                {% for nested in form.prompts %}
                    <div style="visibility: visible;">
                        {{ nested.prompt.label }} {{ nested.prompt }}
                    </div>
                {% endfor %}
                {{ form.submit }}
            </div>
        </form>
    {% endif %}
{% endblock %}