{% extends "base.html" %}

{% block content %}

<div id="takechallenge-header">
    <h3 class="logo">[poly_type]</h3>
    <p class="header-text">{{ nickname }}</p>
</div>

<div id="hehe">
    t
</div>

<div id="takechallenge-body">
    <!-- <textarea class="takechallenge-text prompt" readonly = "true" spellcheck="false">{{ challenge.prompts[0].text }}</textarea>
    <textarea class="takechallenge-text input" spellcheck="false"></textarea> -->
    <!-- [u for x in challenge.prompts[0].text.split(' ') for u in (x, ' ')]  -->
    
    {% for word in challenge.prompts[0].text.split(' ') %}
        <div class="incomplete-word">
            {% for letter in word%}
            <div class="incomplete-letter">
                {{letter}}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='typingFunctionality.js') }}"></script>
{% endblock %}