{% extends "base.html" %}

{% block content %}

<div id="viewpage-header">
    <h3 class="logo">[poly_type]</h3>
    <p id="themeName" class="themeName" onclick="switchThemes">solarized_dark</p>
    <h4 id="name" class="name">{{host.username}}</h4>
    <a  href="{{url_for('host.logout')}}">
        <p id="logout" class="header-text">log_out</p>
    </a>
    <a href="{{url_for('host.edit_host')}}">
        <p id="edit_info" class="subheader-text">edit_account</p>
    </a>
</div>

<div id="viewpage-body">
    <!--This loop adds all the active and inactive challenges. Later we WILL replace some of the with JS that switches the classes at runtime.-->
    {%for challenge in challenges%}
        {%if challenge.open%}
            {%with isactive="isactive"%}
                {%include 'challenge.html'%}
            {%endwith%}
        {%else%}
            {%with isactive=""%}
                {%include 'challenge.html'%}
            {%endwith%}
        {%endif%}
    {%endfor%}

    <a id="create_challenge" class="viewpage-addchallenge" href="{{url_for('host.create_challenge')}}">
        <span class="addchallenge-icon">
        [+]
        </span>
        <span class="addchallenge-tooltip">
        Create a New Challenge
        </span>
    </a>
</div>
{% endblock %}